body {
  font-family: 'Noto Sans', sans-serif;
  color: #FEFFFF;
  background-color: #111111;
  text-align: center;
}
a {
  color: #FEFFFF;
}
a:hover {
  opacity: 0.9;
}
.large_btn {
  background-color: #1D2229;
  border-radius: 5%;
  padding: 15px;
  text-decoration-line: none;
}
